:root {
  --primary-color: #033b4a;
  --secondary-color: #2dd985;
  --bg-color: #eefaf8;
  --gray: #4a4a4d;
  --shape-color: #f3f5f6;
  --text-light: white;
  --bg-light: white;
  --hover-bg: var(--secondary-color);
  --shadow-color: rgba(0, 0, 0, 0.2);
}

.socialMenu {
  display: none;
}

@media (max-width: 2560px) {
  .hello .hello-name span,
  .hello .hello-name {
    font-size: 146px;
    width: fit-content;
  }
}

@media (max-width: 2280px) {
  .hello .hello-name span,
  .hello .hello-name {
    font-size: 116px;
  }
}

@media (max-width: 2050px) {
  .hello {
    top: 200px;
  }
}

@media (max-width: 1850px) {
  .hello {
    position: absolute;
    top: 200px;
    left: 220px;
  }
}

@media (max-width: 1760px) {
  .hello {
    top: 160px;
    left: 190px;
  }

  .hello .hello-name span,
  .hello .hello-name {
    font-size: 106px;
  }
}

@media (max-width: 1650px) {
  .hello {
    top: 160px;
    left: 190px;
  }

  .hello .hello-name span,
  .hello .hello-name {
    font-size: 106px;
  }
}

@media (max-width: 1600px) {
}

@media (max-width: 1500px) {
  .hello .hello-name span,
  .hello .hello-name {
    font-size: 96px;
  }
}

@media (max-width: 1440px) {
  .hello {
    top: 220px;
    left: 180px;
  }
}

@media (max-width: 1400px) {
  .hello {
    top: 250px;
    left: 180px;
  }
}

@media (max-width: 1350px) {
  .hello {
    top: 200px;
    left: 150px;
  }
}

@media (max-width: 1300px) {
  nav ul {
    gap: 0px;
    margin-right: 50px;
  }
}

@media (max-width: 1280px) {
  .hello {
    left: 110px;
  }
}

@media (max-width: 1250px) {
  .social {
    flex-direction: column;
  }
}

@media (max-width: 1230px) {
  .hello {
    top: 200px;
  }
}

@media (max-width: 1210px) {
  .hello {
    left: 110px;
  }
  .hello p {
    width: 550px;
  }
}

@media (max-width: 1100px) {
  .hello {
    left: 110px;
    top: 170px;
  }
  .hello p {
    width: 500px;
    font-size: 20px;
  }

  .hello .hello-name,
  .hello .hello-name span {
    font-size: 70px;
  }
  .hello button {
    width: 45%;
  }
}

@media (max-width: 1024px) {
  .hello {
    top: 170px;
    left: 80px;
  }

  .hello .hello-name span,
  .hello .hello-name {
    font-size: 55px;
  }

  .hello p {
    width: 380px;
  }

  .social {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    gap: 20px;
    margin-right: 0px;
  }
}

@media (max-width: 980px) {
  .hello p {
    width: 360px;
  }
}

@media (max-width: 850px) {
  .hello {
    top: 150px;
    left: 50px;
  }
}

@media (max-width: 785px) {
  .hello {
    top: 160px;
    left: 35px;
  }
}

.linksGroup {
  display: flex;
  gap: 10px;
}

.talk2 {
  background-color: transparent;
  border-radius: 5px;
  border-color: #2dd985;
  border: 2px solid;
  border-color: #2dd985;
  padding: 5px 25px;
  color: #2dd985;
  font-weight: bold;
  font-size: 15px;
  width: 80px;
  text-align: center;
}

.mobile {
  width: 20%;
  position: absolute;
  right: 25px;
  top: 15px;
  z-index: 9999;
}

.mobileBtn {
  display: flex;
  align-items: center;
  gap: 15px;
  display: none;
}

body.no-scroll {
  overflow: hidden; /* تمنع تمرير الصفحة */
}

#mobileMenu {
  overflow-y: auto; /* تخلي المنيو قابل للتمرير */
  max-height: 100vh; /* تمنع المنيو من تجاوز ارتفاع الشاشة */
}

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.19);
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  pointer-events: none;
  backdrop-filter: blur(2px);
}

.menuOverlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  z-index: 111111111;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh; /* خليها تملأ ارتفاع الشاشة */
  max-height: 100vh;
  overflow-y: auto;
  width: 60%;
  background: rgba(255, 255, 255, 0.15); /* شبه شفاف */
  backdrop-filter: blur(12px); /* الضبابية */
  -webkit-backdrop-filter: blur(12px); /* للمتصفحات القديمة */
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: -6px 0 25px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  z-index: 100;
  border-radius: 20px 0 0 20px;

  /* Animation setup */
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.menu.open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu .heading {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.menu .heading h1 {
  color: #fff;
  font-size: 34px;
  margin: 0;
}

.menu .heading .icon {
  font-size: 34px;
  color: #fff;
  margin: 0;
}

.menu hr {
  width: 80%;
  height: 3px;
  margin: 0 auto 10px auto;
  border: none;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0)
  );
  border-radius: 2px;
  margin-bottom: 20px;
}

.subProjects {
  position: relative;
  margin-left: 25px;
  padding-left: 20px;
}

.subProjects::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background: #ffffff;
  box-shadow: 0 0 10px #ffffff;
  border-radius: 4px;
}

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 5px #ffffff;
  }
  50% {
    box-shadow: 0 0 12px #ffffff;
  }
  100% {
    box-shadow: 0 0 5px #ffffff;
  }
}

.subProjects::before {
  animation: glowPulse 2s infinite ease-in-out;
}

.subProjects .subA {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  background: #0000000a;
  margin-bottom: 5px;
  margin-left: 5px;
  padding: 10px 30px;
  border-radius: 10px;
  width: 20%;
  text-align: start;
}

.mobileNav > a {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 12px 15px;
  border-radius: 12px;
  transition: background 0.3s ease, color 0.3s ease;
  color: #fff;
  background: #0000003b;
  backdrop-filter: blur(50px);
}

.mobileNav > a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: var(--secondary-color);
}

.links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 100px;
}

.links > a {
  color: white;
  font-size: 22px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.links > a:hover {
  transform: scale(1.2);
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .topbar {
    position: unset;
  }

  .logo span {
    font-size: 28px;
  }

  .logo .logoIcon {
    font-size: 24px;
  }

  .logo .logoTitle {
    display: none;
  }

  .menuIcon i {
    font-size: 25px !important;
  }

  .hello .hello-name span,
  .hello .hello-name {
    font-size: 115px;
  }

  .main {
    z-index: 50;
  }

  .floatMenu,
  .mobileBtn {
    display: flex;
    gap: 25px;
  }

  .mobile {
    right: 115px;
  }

  .talk2 {
    min-width: 90%;
  }

  .logo {
    padding: 0px;
  }

  .hello .hello-name {
    margin: -15px 0 0;
  }

  .hello {
    top: 90px;
    left: 65px;
  }

  .hello p {
    width: 590px;
    font-size: 22px;
  }

  .hello span {
    font-size: 25px;
  }

  .social {
    background-color: black;
    display: none;
    /* flex-direction: column; */
  }

  nav {
    display: none;
  }

  .mobile {
    width: 25%;
  }
  .eclips_shape {
    position: absolute;
    left: 50px;
    top: 43%;
  }
}

@media (max-width: 730px) {
  .hello .hello-name span,
  .hello .hello-name {
    font-size: 100px;
  }
}

@media (max-width: 715px) {
  .main-image-wrapper {
    margin-top: 25px;
  }

  .hello p {
    width: 530px;
  }
}

@media (max-width: 700px) {
  .main-image-wrapper {
    margin-top: 45px;
  }
}

@media (max-width: 650px) {
  .hello {
    left: unset;
    right: 5%;
  }
}

@media (max-width: 625px) {
  .main-image-wrapper {
    margin-top: 65px;
  }
}

@media (max-width: 620px) {
  .topbar {
    padding: 10px 20px;
  }

  .mobile {
    right: 115px;
  }
}

@media (max-width: 650px) {
  .hello {
    left: 35px;
  }
}

@media (max-width: 600px) {
  .main-image-wrapper {
    margin-top: 25px;
  }
}

@media (max-width: 590px) {
  .hello .hello-name span,
  .hello .hello-name {
    font-size: 80px;
  }
}
@media (max-width: 570px) {
  .hello {
    top: 120px;
    left: 45px;
  }

  .hello p {
    font-size: 20px;
    width: 470px;
  }
}

@media (max-width: 550px) {
  .logo span {
    font-size: 24px;
  }

  .logo .logoIcon {
    font-size: 22px;
  }

  .logo .logoTitle {
    display: none;
  }

  .hello {
    top: 110px;
    left: 35px;
  }

  .hello .hello-name span,
  .hello .hello-name {
    font-size: 85px;
  }

  .hello p {
    font-size: 18px;
  }

  .hello .hello-name {
    margin: -18px 0 0;
  }
}

@media (max-width: 530px) {
  .hello p {
    font-size: 20px;
    width: 420px;
  }
}

@media (max-width: 510px) {
  .hello .hello-name span,
  .hello .hello-name {
    font-size: 75px;
  }
}

@media (max-width: 500px) {
  .topbar {
    position: unset;
  }

  .main-image-wrapper {
    margin-top: -5px;
  }

  .hello {
    top: 90px;
  }

  .mobile {
    right: 100px;
  }

  .talk2 {
    min-width: 65%;
  }
  .topbar {
    width: 93%;
  }
}

@media (max-width: 490px) {
  .topbar {
    position: unset;
  }

  .main-image-wrapper {
    margin-top: 15px;
  }
}

@media (max-width: 465px) {
  .hello {
    left: 26px;
  }
}

@media (max-width: 450px) {
  .hello {
    top: 115px;
    left: 30px;
  }
  .hello .hello-name span,
  .hello .hello-name {
    font-size: 65px;
  }

  .hello p {
    font-size: 20px;
    width: 390px;
  }

  .main-image-wrapper {
    margin-top: -15px;
  }
}

@media (max-width: 425px) {
  .main {
    /* position: absolute; */
    width: 102%;
    margin-top: 40px;
  }

  .hello .hello-name span,
  .hello .hello-name {
    font-size: 60px;
  }
  .hello p {
    font-size: 18px;
    width: 348px;
  }

  .hello {
    top: 120px;
    left: 35px;
  }

  .hello span {
    font-size: 25px;
  }

  .logo {
    padding: 0px;
  }

  .mobile {
    width: 40%;
    right: 60px !important;
  }
  .services {
    width: 92% !important;
  }

  .servCard {
    gap: 20px !important;
  }

  .eclips_shape {
    position: absolute;
    left: 50px;
    top: 43%;
  }
}

@media (max-width: 400px) {
  .hello {
    left: 30px;
    top: 110px;
  }
}

@media (max-width: 385px) {
  .hello p {
    font-size: 16px;
    width: 348px;
  }

  .hello button {
    width: 39%;
    font-size: 16px;
  }

  .hello {
    top: 100px !important;
  }
}

@media (max-width: 375px) {
  .hello {
    top: 100px !important;
    left: 20px;
  }

  .hello p {
    width: 298px;
  }
}

@media (max-width: 365px) {
  .hello p {
    width: 300px !important;
  }

  .hello .hello-name span,
  .hello .hello-name {
    font-size: 55px;
  }
}

@media (max-width: 355px) {
  .hello {
    left: 25px;
    top: 110px !important;
  }

  .main-image-wrapper {
    margin-top: -15px;
  }

  .hello p {
    width: 300px !important;
  }

  .hello button {
    width: 45%;
  }

  .mobile {
    width: 40%;
    right: 65px !important;
  }
}

@media (max-width: 340px) {
  .hello {
    left: 20px;
  }
}

@media (max-width: 325px) {
  .hello {
    top: 100px !important;
    left: 10px;
  }

  .hello button {
    width: 43%;
  }
}

@media (max-width: 320px) {
  .hello {
    left: 8px;
  }

  .main-image-wrapper {
    margin-top: -5px;
  }

  .hello .hello-name span,
  .hello .hello-name {
    font-size: 55px;
  }
  
}

@media (max-width: 315px) {
  .hello {
    left: 20px;
  }

  .main-image-wrapper {
    margin-top: -5px;
  }

  .hello .hello-name span,
  .hello .hello-name {
    font-size: 52px;
  }

  .hello p {
    width: 290px !important;
  }

  .main-image-wrapper {
    margin-top: 25px;
  }
}


/* Menu */

@media (max-width: 480px) {
  .menu {
    width: 70%;
  }
}
